## Code changes in submitted PRs will include the following
## team as the default reviewer.
## For this to be valid, the team has to have Write access to the repo.
##
## docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @pluggyai/public-codeowners
